html,
body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family: 'Ubuntu', sans-serif;
    /*background-color:#663300;*/
    overflow-y:hidden;
}

h1 { 
    text-align: center;
}

.inputBoxes {
    display: flex;
    justify-content: space-evenly;
}

input
{
    font-size:24px;
    height:50px;
    width:50px;
    text-align:center;
    border:black solid;
    border-radius:100%;
}

.buttons
{
    display: flex;
    justify-content: center;
}

.row{
  text-align:center;
  
}

#choices{
  display:flex;
  justify-content:space-between;
  
}

#verify{
    border:solid black;
    cursor:pointer;
    background-color:black;
    color:white;
}

#container{
    display:flex;
    justify-content:center; 
    height:80%;
}

.safe{
    margin:0;
    height:250px;
}

.guesses{
    margin:10px;
}